@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

@font-face {
    font-family: PressStart2P;
    src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
     font-family: 'up';
     src: url("./assets/fonts/1up.ttf");
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'LLPIXEL3';
    src: url("./assets/fonts/LLPIXEL3.ttf");
    /* font-weight: 100; */
}

@font-face {
    font-family: 'G7_Cube_5';
    src: url("./assets/fonts/G7_Cube_5.ttf");
    /* font-weight: 100; */
}

@font-face {
  font-family: 'Gameplay';
  src: url("./assets/fonts/Gameplay.ttf");
  /* font-weight: 100; */
}

@font-face {
    font-family: 'Bakemono';
    src: url("./assets/fonts/Bakemono-Stereo-Thin-trial.ttf");
}

@font-face {
    font-family: 'Flicker';
    src:url('./assets/fonts/Flicker.ttf.woff') format('woff'),
        url('./assets/fonts/Flicker.ttf.svg#Flicker') format('svg'),
        url('./assets/fonts/Flicker.ttf.eot'),
        url('./assets/fonts/Flicker.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

:root {
  font-family: G7_Cube_5, sans-serif;
}

.custom-font {
  font-family: Gameplay, sans-serif;
  font-weight: bold;
}